@forward "about";
@forward "room";
@forward "service";
@forward "section-title";
@forward "testimonial";
@forward "price";
@forward "blog";
@forward "text";
@forward "video";
@forward "offer";
@forward "restaurent";
@forward "logo";
