@forward "about";
@forward "luxuries";
@forward "service";
@forward "menu";
@forward "facilities";
@forward "section-title";
@forward "counter";
@forward "location";
@forward "gallery";
@forward "testimonial";
@forward "prices";
